@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=PT+Serif:wght@400;600&display=swap");

$primary-action: #4a4f53;

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 background-color: #f5f5f5;
 font-family: "Poppins", sans-serif;
 font-weight: 300;
}

main {
 background-image: url("../images/banner.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
}

.__navbar {
 background-color: transparent;
 .navbar-brand {
  color: $primary-action;
  font-weight: 700;
  text-transform: uppercase;
  p {
   margin-bottom: 0;
   padding-bottom: 0;
   border-bottom: 1px solid $primary-action;
  }
  span {
   color: #333;
   font-size: 0.8rem;
   font-weight: 300;
   letter-spacing: 1px;
  }
  &:hover,
  &:focus {
   color: $primary-action;
  }
 }
}

.__home {
 .__hero-section {
  width: 100%;
  min-height: 90vh;
  background: linear-gradient(180deg, hsla(0, 0%, 88%, 0) 29.9%, #f3f4f4);
  color: #333;
  padding: 1rem;
  h1 {
   font-family: "PT Serif", serif;
   font-size: 4.5rem;
   font-weight: 600;
   margin-bottom: 1rem;
  }
  p {
   font-size: 1.1rem;
   font-weight: 400;
   margin-bottom: 1rem;
   line-height: 2rem;
  }
  p.lead {
   font-size: 1.5rem;
   font-weight: 400;
   margin: 1rem 0;
  }
  a {
   padding: 0.5rem 1rem;
   border-radius: 0.5rem;
   font-size: 1.1rem;
   margin-top: 1rem;
  }
 }
 .__main-section {
  width: 100%;
  min-height: 100vh;
  padding: 4rem 2rem;
  background-color: #f3f4f4;
  margin: 0;
  .__top {
   h1 {
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
    font-family: "PT Serif", serif;
   }
   p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7rem;
    margin-bottom: 1rem;
    color: #54585c;
   }
  }
  .__bottom {
   p {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 1rem;
   }
   img {
    height: 200px;
    width: 200px;
    object-fit: contain;
    background-color: #eee;
    border: 1px solid rgba(74, 79, 83, 0.1);
    border-radius: 100rem;
    z-index: 2;
   }
   .box {
    width: 100%;
    background-color: rgba(74, 79, 83, 0.1);
    padding: 2rem;
    margin-top: 0.5rem;
    border-radius: 1.9rem;
    z-index: 1;
    p {
     color: #333;
     font-weight: 700;
     font-size: 1.1rem;
     margin: 0;
     margin-bottom: 0.5rem;
     font-family: "PT Serif", serif;
    }
    span {
     font-size: 0.8rem;
     font-weight: 300;
     color: #333;
    }
    a {
     padding: 0.5rem 1rem;
     border-radius: 0.5rem;
     font-size: 0.85rem !important;
    }
   }
  }
 }
}

.__footer {
 .__top {
  text-align: center;
  p {
   font-size: 1.1rem;
   font-weight: 600;
   margin-bottom: 1rem;
  }
  ul {
   li {
    margin-bottom: 0.5rem;
    a {
     color: #8996a0;
     font-weight: 400;
     text-decoration: none;
     font-size: 1.1rem;
      padding-bottom: 0.2rem;
     &:hover,
     &:focus {
      color: #777;
      border-bottom: 1px solid #777;
     }
    }
   }
  }
 }
 .__bottom {
  p {
    font-size: 0.9rem;
    font-weight: 300;
    margin-bottom: 1rem;
  }
 }
}

@media screen and (max-width: 768px) {
 .__navbar {
  padding: 1rem !important;
  .navbar-brand {
   p {
    font-size: 0.8rem;
   }
   span {
    font-size: 0.6rem;
   }
  }
 }
 .__home {
  .__hero-section {
   padding: 2rem 1rem;
   .row {
    .col-12 {
     text-align: center;
    }
    a.btn {
     font-size: 0.8rem;
    }
   }
   h1 {
    font-size: 2.5rem;
   }
   p {
    font-size: 0.9rem;
    line-height: 1.5rem;
   }
   p.lead {
    font-size: 1.2rem;
   }
   a {
    font-size: 0.9rem;
   }
  }
  .__main-section {
   .__top {
    h1 {
     font-size: 1.8rem;
    }
    p {
     font-size: 0.9rem;
    }
   }
   .__bottom {
    p {
     font-size: 0.8rem;
    }
    .box {
     p {
      font-size: 0.8rem !important;
     }
     .btn {
      font-size: 0.8rem;
      padding: 0.3rem 0.5rem;
     }
    }
   }
  }
 }
}
@media screen and (min-width: 1400px) {
 .__home {
  .__main-section {
   padding: 8rem 1rem;
   .__bottom {
    img {
     width: 300px;
     height: 300px;
    }
    .box {
     width: 100%;
     max-width: 400px;
     border-radius: 0;
     border-top-right-radius: 1.9rem;
     border-bottom-right-radius: 1.9rem;
     margin-left: -60px;
     margin-top: 0;
     padding: 2.5rem 1rem 2rem 5rem;
     z-index: 1;
    }
   }
  }
 }
}
