@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=PT+Serif:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

main {
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.__navbar {
  background-color: transparent;
}
.__navbar .navbar-brand {
  color: #4a4f53;
  font-weight: 700;
  text-transform: uppercase;
}
.__navbar .navbar-brand p {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 1px solid #4a4f53;
}
.__navbar .navbar-brand span {
  color: #333;
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 1px;
}
.__navbar .navbar-brand:hover, .__navbar .navbar-brand:focus {
  color: #4a4f53;
}

.__home .__hero-section {
  width: 100%;
  min-height: 90vh;
  background: linear-gradient(180deg, hsla(0, 0%, 88%, 0) 29.9%, #f3f4f4);
  color: #333;
  padding: 1rem;
}
.__home .__hero-section .row {
  animation: g 0.3s ease-in-out;
}
@keyframes g {
  0% {
    margin-bottom: -100px;
  }
  100% {
    margin-bottom: 0;
  }
}
.__home .__hero-section h1 {
  font-family: "PT Serif", serif;
  font-size: 4.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.__home .__hero-section p {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 1rem;
  line-height: 2rem;
}
.__home .__hero-section p.lead {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 1rem 0;
}
.__home .__hero-section a {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  margin-top: 1rem;
}
.__home .__main-section {
  width: 100%;
  min-height: 100vh;
  padding: 4rem 2rem;
  background-color: #f3f4f4;
  margin: 0;
}
.__home .__main-section .__top h1 {
  font-size: 2.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
  font-family: "PT Serif", serif;
}
.__home .__main-section .__top p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7rem;
  margin-bottom: 1rem;
  color: #54585c;
}
.__home .__main-section .__bottom p {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
.__home .__main-section .__bottom img {
  height: 200px;
  width: 200px;
  object-fit: contain;
  background-color: #eee;
  border: 1px solid rgba(74, 79, 83, 0.1);
  border-radius: 100rem;
  z-index: 2;
}
.__home .__main-section .__bottom .box {
  width: 100%;
  background-color: rgba(74, 79, 83, 0.1);
  padding: 2rem;
  margin-top: 0.5rem;
  border-radius: 1.9rem;
  z-index: 1;
}
.__home .__main-section .__bottom .box p {
  color: #333;
  font-weight: 700;
  font-size: 1.1rem;
  margin: 0;
  margin-bottom: 0.5rem;
  font-family: "PT Serif", serif;
}
.__home .__main-section .__bottom .box span {
  font-size: 0.8rem;
  font-weight: 300;
  color: #333;
}
.__home .__main-section .__bottom .box a {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 0.85rem !important;
}

.__footer .__top {
  text-align: center;
}
.__footer .__top p {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.__footer .__top ul li {
  margin-bottom: 0.5rem;
}
.__footer .__top ul li a {
  color: #8996a0;
  font-weight: 400;
  text-decoration: none;
  font-size: 1.1rem;
  padding-bottom: 0.2rem;
}
.__footer .__top ul li a:hover, .__footer .__top ul li a:focus {
  color: #777;
  border-bottom: 1px solid #777;
}
.__footer .__bottom p {
  font-size: 0.9rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .__navbar {
    padding: 0.5rem 1rem !important;
  }
  .__navbar .navbar-brand p {
    font-size: 0.8rem;
  }
  .__navbar .navbar-brand span {
    font-size: 0.6rem;
  }
  .__home .__hero-section {
    padding: 2rem 1rem;
  }
  .__home .__hero-section .row .col-12 {
    text-align: center;
  }
  .__home .__hero-section .row a.btn {
    font-size: 0.8rem;
  }
  .__home .__hero-section h1 {
    font-size: 2.5rem;
  }
  .__home .__hero-section p {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
  .__home .__hero-section p.lead {
    font-size: 1.2rem;
  }
  .__home .__hero-section a {
    font-size: 0.9rem;
  }
  .__home .__main-section .__top h1 {
    font-size: 1.8rem;
  }
  .__home .__main-section .__top p {
    font-size: 0.9rem;
  }
  .__home .__main-section .__bottom p {
    font-size: 0.8rem;
  }
  .__home .__main-section .__bottom .box p {
    font-size: 1rem !important;
  }
  .__home .__main-section .__bottom .box span {
    font-size: 0.75rem;
  }
  .__home .__main-section .__bottom .box .btn {
    font-size: 0.8rem;
    padding: 0.3rem 0.5rem;
  }
}
@media screen and (min-width: 1400px) {
  .__home .__main-section {
    padding: 8rem 1rem;
  }
  .__home .__main-section .__bottom img {
    width: 300px;
    height: 300px;
  }
  .__home .__main-section .__bottom .box {
    width: 100%;
    max-width: 400px;
    border-radius: 0;
    border-top-right-radius: 1.9rem;
    border-bottom-right-radius: 1.9rem;
    margin-left: -60px;
    margin-top: 0;
    padding: 2.5rem 1rem 2rem 5rem;
    z-index: 1;
  }
}