@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&family=Open+Sans:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}

/* #fef6c5; */
.__navbar {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  padding: 0.7rem 0;
}
.__navbar .navbar-toggler {
  transform: scale(0.7);
}
.__navbar .navbar-toggler:hover, .__navbar .navbar-toggler:focus {
  box-shadow: none;
  border-color: #1ab06a;
}
.__navbar .nav-link {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
}
.__navbar .nav-link.active {
  color: #333;
  padding: 0.2rem 0.8rem;
  margin: 0.2rem 0;
  border: 1px solid rgba(51, 51, 51, 0.2);
  border-radius: 100rem;
}
@media screen and (max-width: 576px) {
  .__navbar .navbar-brand p {
    font-size: 0.9rem;
  }
}

.__hero-section {
  min-height: 70vh;
  background-color: #fff;
  padding: 1rem;
  padding-bottom: 5rem !important;
  border-radius: 0.5rem;
}
.__hero-section .t {
  color: #457;
  border: 1px solid #457;
  width: fit-content;
  padding: 0.5rem 1rem;
  margin: 0 auto;
}

.__home .__hero-section {
  background-color: #f5f5f5;
  padding: 0;
  padding-bottom: 0 !important;
}
.__home .__hero-section .__section-one {
  width: 100%;
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  border-bottom: 15px solid rgba(26, 176, 106, 0.34);
}
.__home .__hero-section .__section-one img.logo {
  max-width: 200px;
}
.__home .__hero-section .__section-one img.banner {
  width: 100%;
  max-width: 540px;
  min-height: 300px;
  background-color: #eee;
  border-radius: 0.6rem;
  margin: 1rem 0;
}
.__home .__hero-section .__section-two {
  padding: 1rem 2rem;
  padding-bottom: 0;
}
.__home .__hero-section .__section-two .boxes > div .card {
  height: 100%;
  padding: 1rem;
  border: 0;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: none;
}
.__home .__hero-section .__section-two .boxes > div .card:hover {
  background-color: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}
.__home .__hero-section .__section-two .boxes > div .card svg {
  margin: 0 auto;
  display: block;
  color: #6c757d;
}
.__home .__hero-section .__section-two .boxes > div .card h5 {
  text-align: center;
  margin: 0.5rem 0;
}
.__home .__hero-section .__section-two .boxes > div .card p {
  color: #457;
}
.__home .__hero-section .__section-three {
  padding: 4rem 1rem;
  margin-top: -2rem;
}
.__home .__hero-section .__section-three .title1,
.__home .__hero-section .__section-three .title2 {
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
}
.__home .__hero-section .__section-three .lists {
  height: 100%;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}
.__home .__hero-section .__section-three .lists ul {
  border-radius: 0.4rem;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.__home .__hero-section .__section-three .lists ul li {
  position: relative;
  padding-left: 2rem;
}
.__home .__hero-section .__section-three .lists ul li.notice {
  padding: 0.5rem 0;
}
@media screen and (max-width: 576px) {
  .__home .__hero-section .__section-three .lists ul li.notice {
    padding: 1rem 0;
  }
}
.__home .__hero-section .__section-three .lists ul li.notice p {
  margin-bottom: 0.2rem !important;
}
.__home .__hero-section .__section-three .lists ul li.notice a > div {
  width: fit-content;
}
.__home .__hero-section .__section-three .lists ul li:not(.notice)::before {
  content: "";
  position: absolute;
  left: 0.5rem;
  background: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-arrow-right-circle-fill' viewBox='0 0 16 16' fill='grey'%3E%3Cpath d='M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z'%3E%3C/path%3E%3C/svg%3E");
  width: 16px;
  height: 16px;
  margin-top: 0.3rem;
}
.__home .__hero-section .__section-three .lists p {
  font-size: 1.1rem;
  font-weight: 300;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  margin: 0;
  padding: 1rem;
}

.__about .__hero-section div > p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
}
.__about .__hero-section b {
  font-weight: 700;
  font-size: 1rem;
}

.__admission p,
.__admission button {
  font-family: "Open Sans", sans-serif;
}
.__admission .accordion-button:focus,
.__admission .form-control:focus {
  box-shadow: none !important;
}

.__academics #title {
  font-size: 1.4rem;
  width: 100%;
  background-color: #eee;
  padding: 2.5rem;
  text-align: center;
  margin-bottom: 0;
}
.__academics .__hero-section {
  background-color: #fff;
  padding: 1rem;
  padding-top: 2rem;
  border-radius: 0.5rem;
  box-shadow: none;
}
.__academics .__hero-section p,
.__academics .__hero-section li,
.__academics .__hero-section b {
  font-family: "Open Sans", sans-serif;
}
.__academics .__hero-section b {
  font-weight: 700;
}
.__academics .__hero-section .__results table {
  max-width: 800px;
}
.__academics .__hero-section .__results .__year-of {
  background-color: rgba(26, 176, 106, 0.25);
  text-align: center;
}
.__academics .__hero-section .__results td,
.__academics .__hero-section .__results th {
  font-family: "Open Sans", sans-serif;
}
.__academics .__hero-section .__faculty .lists .list-group-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.__academics .__hero-section .__faculty .lists .list-group-item .item {
  padding: 1rem;
  text-align: center;
}
.__academics .__hero-section .__faculty p {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 0.2rem;
}
.__academics .__hero-section .__faculty span {
  font-size: 0.85rem;
  font-weight: 300;
  color: #333;
}
.__academics .__hero-section .__faculty img {
  width: 150px;
  height: 150px;
  border-radius: 0.6rem;
  background-color: #ccc;
}

.__facilities .__hero-section img {
  width: 100%;
  min-height: 100px;
  border-radius: 0.7rem;
}
.__facilities .__hero-section h4 {
  text-align: center;
  padding: 1rem;
  color: #fff;
  width: fit-content;
  z-index: 2;
  margin: 0 auto;
  margin-top: -80px;
  text-shadow: 1px 1px 1px #333;
  z-index: 2;
}

.__notices .lists ul {
  border-radius: 0.4rem;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.__notices .lists ul li {
  position: relative;
  padding-left: 2rem;
}
.__notices .lists ul li.notice {
  padding: 0.5rem 0;
}
@media screen and (max-width: 576px) {
  .__notices .lists ul li.notice {
    padding: 1rem 0;
  }
}
.__notices .lists ul li.notice p {
  margin-bottom: 0.2rem !important;
}
.__notices .lists ul li.notice a > div {
  width: fit-content;
}
.__notices .lists ul li:not(.notice)::before {
  content: "";
  position: absolute;
  left: 0.5rem;
  background: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-arrow-right-circle-fill' viewBox='0 0 16 16' fill='grey'%3E%3Cpath d='M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z'%3E%3C/path%3E%3C/svg%3E");
  width: 16px;
  height: 16px;
  margin-top: 0.3rem;
}

footer {
  background-color: #1ab06a;
}
footer .__footer-bottom {
  padding: 2rem 0 !important;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
footer .__footer-links {
  padding-top: 3.5rem !important;
}
footer p,
footer h5,
footer a,
footer span {
  color: #fff !important;
}
footer a,
footer p {
  font-size: 0.8rem !important;
  font-family: "Open Sans", sans-serif;
}

@media screen and (max-width: 576px) {
  .__home .__hero-section .__section-one img.logo {
    max-width: 150px;
  }
  .__home .__hero-section .__section-one img.banner {
    max-width: 100%;
    min-height: 200px;
  }
  .__home .__hero-section .__section-one h1 {
    font-size: 1.25rem;
    background-color: transparent !important;
  }
  .__home .__hero-section .__section-two {
    padding: 2rem 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .__home .__section-one {
    padding-bottom: 10rem !important;
  }
  .__home .__section-two {
    margin-top: -9rem !important;
  }
}