@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap");

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 background-color: #f5f5f5;
 font-family: "Oswald", sans-serif;
 font-weight: 300;
}

.__header {
 background-color: #fef6c5;
}

.__navbar {
 .navbar-toggler {
  transform: scale(0.7);
  &:hover,
  &:focus {
   box-shadow: none;
   border-color: #198754;
  }
 }
 .nav-link.active {
  color: #198754;
  font-weight: 400;
 }
 @media screen and (max-width: 576px) {
  .navbar-brand p {
   font-size: 0.9rem;
  }
 }
}

.__hero-section {
 background-color: #fff;
 padding: 1rem;
 border-radius: 0.5rem;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.__home {
 .__hero-section {
  p {
   font-size: 1.2rem;
   font-weight: 300;
   margin-bottom: 1rem;
  }
  button {
   padding: 0.5rem 1rem;
   border-radius: 0.5rem;
  }
  img.logo {
   max-width: 200px;
  }
  img.banner {
   width: 100%;
   max-width: 500px;
   background-color: #eee;
   border-radius: 0.6rem;
   margin: 1rem 0;
  }
  .__section-one {
   margin-top: 4rem;
   .lists {
    height: 100%;
    ul {
     border-style: dashed !important;
     border-radius: 0.4rem;
     border-top: none !important;
     border-top-left-radius: 0rem;
     border-top-right-radius: 0rem;
     li {
      position: relative;
      padding-left: 2rem;
      &.notice {
       padding: 0.5rem 0;
       @media screen and (max-width: 576px) {
        padding: 1rem 0;
       }
       p {
        margin-bottom: 0.2rem !important;
       }
       a > div {
        width: fit-content;
       }
      }
     }
     li:not(.notice)::before {
      content: "";
      position: absolute;
      left: 0.5rem;
      background: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-arrow-right-circle-fill' viewBox='0 0 16 16' fill='grey'%3E%3Cpath d='M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z'%3E%3C/path%3E%3C/svg%3E");
      width: 16px;
      height: 16px;
      margin-top: 0.3rem;
     }
    }
    p {
     font-size: 1.1rem;
     font-weight: 300;
     border-top-left-radius: 0.4rem;
     border-top-right-radius: 0.4rem;
     margin: 0;
     padding: 1rem;
    }
   }
  }
 }
}

.__academics {
 .__hero-section {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  #output {
   font-size: 1.4rem;
   width: 100%;
   background-color: #eee;
   padding: 2rem;
   border-radius: 0.4rem;
   margin-bottom: 2rem;
  }
  .__faculty {
   .lists {
    .list-group-item {
     .item {
      padding: 1rem;
     }
    }
   }
   p {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 0.2rem;
   }
   span {
    font-size: 0.85rem;
    font-weight: 300;
    color: #333;
   }
   img {
    width: 150px;
    height: 150px;
    border-radius: 0.6rem;
    background-color: #ccc;
   }
  }
 }
}

.__facilities {
 .__hero-section {
  img {
   width: 100%;
   border-radius: 0.7rem;
  }
  h4 {
   text-align: center;
   padding: 1rem;
   color: #fff;
   width: fit-content;
   z-index: 2;
   margin: 0 auto;
   margin-top: -80px;
   text-shadow: 1px 1px 1px #333;
   z-index: 2;
  }
 }
}
